<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @experience.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @experience.place %>
</p>

<p>
  <strong>Content:</strong>
  <%= @experience.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @experience.image %>
</p>

<%= link_to 'Back', experiences_path %>